.bg-rgba{
    background-color:rgba(0,0,0,0.4) ;
}
.bg-color{
    background-color:#98e1b7;
}
.search-pos{
   margin-bottom: 20%;
}

.bg-color:hover{
    background-color: #4e555b;
}
.bg-footer{
    background-color:#98e1b7;

}
.nav-colored{
    background-color:rgba(0,0,0,0.8)
}